<% include("../layouts/header.ejs") %> <!-- Include the shared header layout -->


  <title>Edit User</title>
  <h2>Edit User</h2>
  <form action="/admin/edit-user" method="POST">
    <input type="hidden" name="id" value="<%= user._id %>" />
    <input type="text" name="name" value="<%= user.name %>" required /><br/>
    <input type="email" name="email" value="<%= user.email %>" required /><br/>
    <input type="text" name="mobile" value="<%= user.mobile %>" /><br/>
    <button type="submit">Update User</button>
  </form>
  <a href="/admin/dashboard">Back to Dashboard</a>

<% include("../layouts/footer.ejs") %> <!-- Include the shared footer layout -->