<%- include('../layouts/header') %>
<div class="cont">

    <h1 class="text-2xl font-bold mb-4">Recovery mode</h1>

<% if (typeof message !== "undefined") { %>
  <div id="msg" style="color: red;"><%= message %>
  <%}%>
</div>
 
 
<div>
<form action="/admin/forget" method="post"class="space-y-6">
          <div class="space-y-4">

   <div>
                <div class="flex items-center mb-1">
                    <i class="fas fa-envelope text-white mr-2 opacity-80"></i>
                    <label for="email" class="text-white text-sm opacity-80">Email Address</label>
                </div>
                <input type="email" id="email" name="email" class="input-field" placeholder="Enter your email" required>
            </div>
    <input type="submit" class="btn-login w-full mt-4"value="Send Reset Link">
  <a href="/homepage" class="text-cyan-300 hover:opacity-100 transition">Back to Home Page</a>

</form><br>

    <div class="mt-4">
        <a href="/admin/login" class="text-cyan-300 hover:opacity-100 transition">Back to Login</a>
    </div>
    </div>
</div>

<%- include('../layouts/footer') %>


