<% include('../layouts/header') %>
    <title>Email verify</title>

    <h1 >Your Email is sucessfully Verified</h1>
  <a href="/homepage" class="text-cyan-300 hover:opacity-100 transition">Back to Home Page</a>

<% include('../layouts/footer') %>