!<% include('../layouts/header.ejs') %>

<h1>FORGET PASSWORD</h1>

<%
if(typeof message !== 'undefined'){
    %>
    <h4><%= message %></h4>
    <%
}
%>
<form action="/forget" method="post">
    <input type="email" name="email" required placeholder="Enter Email">
    <br><br>
    <input type="password" name="password"required placeholder="Enter Password" id="">
    <br><br>
    <input type="submit" value="SET PASSWORD">
        
</form>
<a href="/forget">forget Password</a>

<% include('../layouts/footer.ejs') %>