<%- include('../layouts/header') %>

<div class="cont">
    <h1 class="text-2xl font-bold mb-4">Reset Password</h1>

    <% if (typeof message !== 'undefined' && message) { %>
        <p style="color: red; font-weight: bold; margin-bottom: 10px;"><%= message %></p>
    <% } %>

<form action="/forget-password" method="post" class="space-y-6">
        <div class="space-y-4">
            <!-- New Password -->
            <div>
                <div class="flex items-center mb-1">
                    <i class="fas fa-lock text-white mr-2 opacity-80"></i>
                    <label for="password" class="text-white text-sm opacity-80">New Password</label>
                </div>
                <input type="password" name="password" id="password" class="input-field" placeholder="Enter New Password" required>
            </div>

<input type="hidden" name="user_id" value="<%= user_id %>">
    <input type="submit" class="btn-login w-full mt-4"value="Reset Password">
        
</form>

<% include('../layouts/footer.ejs') %>

            



    