<% include('../layouts/header') %>
  <title>Home Page</title>

  <% if(user) { %>
    <h1>Welcome, <%= user.name %>!</h1>
    <p>Email: <%= user.email %></p>
    <a href="/logout">Logout</a>
  <% } else { %>
    <h1>Welcome, Guest!</h1>
    <a href="/login">Login</a>
      <a href="/homepage" class="text-cyan-300 hover:opacity-100 transition">Back to Home Page</a>

  <% } %>
<% include('../layouts/footer') %>