<%- include("../layouts/header") %>

<!-- Include page-specific CSS -->

    
    <div class="glass-card">
        <div class="text-center mb-8">
    <!-- Tab Title -->
    <h2 class="active">Verification</h2>

    <!-- Verification Form
    <form action="/verification" method="POST">
      <input type="email" id="email" class="fadeIn second input" name="email" placeholder="Enter your email" required>
      <input type="submit" class="fadeIn fourth btn-login" value="Send Verification Link">
    </form> -->

    <!-- Message Display -->
    <% if (typeof message !== 'undefined' && message) { %>
      <p style="color: rgb(229, 234, 229); margin-top: 10px; font-weight: bold;">
        <%= message %>
      </p>
    <% } %>
  </div>
</div>


<%- include("../layouts/footer") %>
